" System clipboard synchronization
set clipboard=unnamedplus
" line number
set rnu
set nu
" emulate the behavior of vim-commentary
set commentary
" search highlight
set hls
" Switch between tabs
nmap <c-l> <Action>(NextTab)
nmap <c-h> <Action>(PreviousTab)
