" core
set clipboard=unnamedplus
set rnu
set nu
set commentary
set hls


" Switch between tabs
nmap <c-l> <Action>(NextTab)
nmap <c-h> <Action>(PreviousTab)
" Format Code: space + f
nmap <space>f <Action>(ReformatCode)
" Find Symbol: Ctrl + s
nmap <c-s> <Action>(GotoSymbol)
" Find File: Ctrl + f
nmap <c-f> <Action>(GotoFile)
" Find References: g + r
nmap gr <Action>(ShowUsages)

